global:
  checkNewVersion: true
  sendAnonymousUsage: false
log:
  level: DEBUG
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
providers:
  # Docker API version outdated in used traefik image, opted to use just file provider instead.
  # docker:
  #   endpoint: "unix:///var/run/docker.sock"
  #   exposedByDefault: false
  #   network: proxy
  file:
    directory: /etc/traefik/dynamic
    watch: true
CertificatesResolvers:
  cloudflare:
    acme:
      email: "johndoe@example.com"
      storage: /var/traefik/certs/Cloudflare.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"